[submodule "third_party/Grounded-Segment-Anything"]
	path = third_party/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "third_party/gradslam"]
	path = third_party/gradslam
	url = https://github.com/gradslam/gradslam.git
[submodule "third_party/chamferdist"]
	path = third_party/chamferdist
	url = https://github.com/krrish94/chamferdist.git
[submodule "third_party/concept-graphs"]
	path = third_party/concept-graphs
	url = https://github.com/concept-graphs/concept-graphs.git
